---
useCases:
  demo-auto-remediation-ansible:
    previews:
    - section: demo-auto-remediation-ansible
      description: Canary
      url: "{{ ingress_protocol }}://simplenodeservice-canary.{{ ingress_domain }}"
    guides:
    - description: "Canary deployment and auto remediation - Demo using Jenkins, Gitea and AWX"
      url: "{{ ingress_protocol }}://gitea.{{ ingress_domain }}/{{ demo_auto_remediation_org }}/auto-remediation-docs"
